/* Hygge Style/Boho theme 
https://www.color-hex.com/color-palette/112953
Color palette with RBG values
*/
*{
    
    margin: 0;
    padding: 0;
    font-family: 'Dancing Script', cursive;
}

p {
    display: block;
    margin-top: 1rem;
    font-size: 0.8rem;
}

.navbar{
    background: #a4a08a;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar_container{
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

.navbar_logo{
    padding: 5px;
}

.fa-seedling{
    margin-right: 0.5rem;
}

.navbar_menu{
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar_item{
    height: 80px;
}

.navbar_links{
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}

.navbar_links:hover{
    color: #95B8D1;
    transition: all 0.3s ease;
}

@media screen and (max-width: 960px){
    .navbar_container{
        display: flex;
        justify-content: space-between;
        height: 65px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }
    .navbar_menu{
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 0;
        transition: all 0.5s ease;
        height: 20vh;
        z-index: -1;
    }
    .navbar_menu.active{
        background: #a4a08a;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 100vh;
        font-size: 1.2rem;
    }
    #navbar_logo{
        padding-left: 25px;
    }
    .navbar_toggle .bar{
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #fff;
    }
    .navbar_item{
        width: 100%;
        height: 15px;
    }
    .navbar_links{
        text-align: center;
        width: 100%;
        display: table;
    }
    #mobile-menu{
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }
    .navbar_toggle .bar{
        display: block;
        cursor: pointer;
    }
    #mobile-menu.is-active .bar:nth-child(2){
        opacity: 0;
    }
    #mobile-menu.is-active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    #mobile-menu.is-active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    h1{
        font-size: 16px;
    }
    p{
        font-size: 10px;
    }
    .main{
        max-height: 30%;
        width: 100%;
        max-width: 960px;
    }
    
    .big{
        width: 100%;
    }

    .upper-main_container{
        width: 100%;
    }

    #href1{
        font-size: 10px;
    }
}



/* Hero Section(not responsive yet) */

.main{
height: auto;
width: auto;
display: flex;
justify-content: center;
align-content: center;
}

.main_container{
    width: 100%;
    height: 100%;    
    background: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.upper-main_container {
    display: flex;
    justify-content: center;
    max-height: 50vh;
    width: 100%;
    max-width: 1300px;
    background: #fff;
    padding: 10px 10px;

}


.big{
    display: flex;
    align-self: center;
    justify-self: center;
    align-content: center;
    justify-content: center;
    /*background: rgb(234,221,202);*/
    height: 100%;
    width: 100%;
    max-width: 1300px;
}

.salon{
    height: 100%;
}


.lower-main_container{
    margin: 10px 10px;
    min-height: 50vh;
    width: 100%;
    max-width: 1300px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 15px;
    column-gap: 15px;
    background: #fff;
}

.item{
    max-height: 300px;
    width: 1fr;
    background: rgb(234,221,202);
}

.stylist{
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
    align-content: center;
}

.stylist_container{
    margin: 10px 10px;
    max-height: 100%;
    max-width: 100%;
    display: grid;
    grid-template-rows: 2fr 2fr;
    grid-template-columns: 2fr 2fr 2fr;
    justify-content: flex-start;
    row-gap: 15px;
    column-gap: 15px;
    background: #fff;
}

.stylist-item{
    height: auto;
    width: auto;
    background: rgb(234,221,202);
    text-align: center;
}

h1, h2, h3{
    color: #70564e;
}






/*Bio section*/

.bio{
    display: flex;
    padding: 15px;
}
.bio_container{
    justify-items: flex-start;
    
}
.bio_text{
    position: relative;
}





/*Formatting Images*/

img {
    max-width: 40%;
    height: auto;
}

/*trying to get the image to take up the entire size of the big*/


.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

}


/*About us section*/

.aboutus {
    height: auto;
    width: auto;
    display: flex;
    align-content: center;
    justify-content: center;
}

#comingsoon_img1{
    float: left;
    padding: 15px;
}

.aboutus_container {
    padding: 20px;
}


/*Footer section*/

.footer_container{
    margin: 0 30px ;
    padding: 15px;
    background: #a4a08a;
}

.footer_content{
    padding: 15px;
}

.footer_links{
    color: #fff;
    padding: 15px;
}

#aboutus_img1{
    padding: 10px;
    float: left;
}

#aboutus_img2{
    padding: 10px;
    float: right;
}

#stylist_img{
    max-height: 80%;
    padding: 10px;
    float: left;
}

.comingsoon_container {
    margin: 10px;
}

#comingsoon_img1{
    float: left;
}


